<div class="container">
  <div class="row">
    <div class="col-xs-12">
    <div class="main-title text-center">
      <h1>Scrambld</h1>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="game text-center">
          <h2 class="game-letters"><%@random_letters.each do |letter| %>
           <%= "#{letter.upcase}"%>
          <%end%></h2>

          <p>Type the longest word you can find!</p>

          <form action="/score">
              <input type="text" id="word" name="player_word">
              <input type="hidden" id="start_time" name="start_time" value="<%= @start_time %>">
              <input type="hidden" id="" name="score" value="<%= @score %>">
              <input type="hidden" id="" name="grid" value="<%= @random_letters.join %>">
              <input type="submit" value="Go!">
          </form>
      </div>

    </div>
  </div>

</div>
